@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 120 82% 93%;
    --foreground: 240 10% 3.9%;
    --card: 120 82% 93%;
    --card-foreground: 240 10% 3.9%;
    --popover: 120 82% 93%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 120 61% 34%;
    --primary-foreground: 60 93% 98%;
    --secondary: 120 60% 88%;
    --secondary-foreground: 120 61% 34%;
    --muted: 120 60% 88%;
    --muted-foreground: 240 5% 45.1%;
    --accent: 60 100% 25%;
    --accent-foreground: 60 93% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 60% 80%;
    --input: 120 60% 80%;
    --ring: 120 61% 34%;
    --chart-1: 120 61% 34%;
    --chart-2: 60 100% 25%;
    --chart-3: 120 50% 50%;
    --chart-4: 60 70% 40%;
    --chart-5: 120 40% 60%;
    --radius: 0.5rem;
    --sidebar-background: 120 82% 93%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 120 10% 10%;
    --foreground: 120 10% 95%;
    --card: 120 10% 12%;
    --card-foreground: 120 10% 95%;
    --popover: 120 10% 12%;
    --popover-foreground: 120 10% 95%;
    --primary: 120 61% 60%;
    --primary-foreground: 120 60% 10%;
    --secondary: 120 10% 15%;
    --secondary-foreground: 120 10% 95%;
    --muted: 120 10% 20%;
    --muted-foreground: 120 10% 60%;
    --accent: 60 80% 50%;
    --accent-foreground: 60 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 20%;
    --input: 120 10% 20%;
    --ring: 120 61% 60%;
    --chart-1: 120 61% 60%;
    --chart-2: 60 80% 50%;
    --chart-3: 120 50% 70%;
    --chart-4: 60 70% 60%;
    --chart-5: 120 40% 80%;
    --sidebar-background: 120 10% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 120 61% 60%;
    --sidebar-primary-foreground: 120 60% 10%;
    --sidebar-accent: 120 10% 15%;
    --sidebar-accent-foreground: 120 10% 95%;
    --sidebar-border: 120 10% 20%;
    --sidebar-ring: 120 61% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
